body {

    background-image: url(../medias/hanny-naibaho-awxvxy8bszc-unsplash-65c633c9a7b49772692926.webp);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#options {
    display: none;
}

#coordonnees {
    display: none;
}

.bouton,
.bouton2 {
    cursor: pointer;
}